#hero{
    margin-bottom: 168px;
}
.hero__content{
    padding-top: 134px;
    padding-bottom: 134px;
    background-repeat: no-repeat;
    background-size: 1280px;
    background-image: url("../../img/hero-img.svg");
}
.hero__tittle{
    max-width: 427px;
    margin-bottom: 32px;
    margin-left: 85px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;   
}
.hero__text{
    max-width: 445px;
    margin-left: 85px;
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    opacity: 0.8;  
}
@media only screen and (max-width:760px){
    
    .hero__tittle{
        max-width: 324px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 900;
        font-size: 48px;
        line-height: 48px;
        color: #FEFCF7;   
    }
    .hero__text{
        max-width: 398px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;  
    }
}
@media only screen and (max-width:610px){
    
    .hero__content{
        background-repeat: no-repeat;
        background-size: 610px;
        background-image: url("../../img/hero-img2.svg");
    }
    .hero__tittle{
        max-width: 279px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 900;
        font-size: 40px;
        line-height: 40px;
        color: #FEFCF7;   
    }
    .hero__text{
        max-width: 279px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Barlow';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FEFCF7;
        opacity: 0.8;  
    }
}
@media only screen and (max-width:380px){
    .hero__content{
        
        background-repeat: no-repeat;
        background-size: 380px;
        background-image: url("../../img/hero-img2.svg");
    }
}